.nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    padding: 30px 100px;
}

.nav_black {
    background-color: #121212;
    border-bottom: 1px solid #6f6d6d;
}

.nav_logo {
    width: 126px;
    object-fit: contain;
    position: fixed;
    left: 0;
    margin-left: 80px;
}

.nav_avatar {
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 0;
    margin-right: 80px;
}