.form {
    padding: 40px;
}

.form h2 {
    text-align: center;
    color: #fcfcfc;
    font-weight: 600px;
}

.form p {
    text-align: center;
    color:#6F6d6d;
    margin: 16px 0 32px;
}


.form form .dt {
    margin: 20px 0;
}

.form form label {
    font-size: 14px;
    color: #fcfcfc;
}

.form form input {
    height: 40px;
    width: calc(100% - 16px);
    padding: 0 8px;
    border: 2px solid #6F6d6d;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 4px;
    cursor: pointer;
}

.form form input::placeholder {
    color: #312f2f;
}

.form form input:focus {
    color:#fcfcfc;
}

.form form button {
    width: 100%;
    background-color: #e50914;
    height: 52px;
    border: none;
    color: #fcfcfc;
    border-radius: 8px;
    margin-top: 24px;
}
.footnote {
    font-size: 12px;
    text-align: center;
    margin-top: -32px;
}
@media (max-width: 480px) {
    .form {
        padding: 24px 0;
        background-color: transparent;
        box-sizing: border-box;
        height: 200px;
    }
    .form h2 {
        color: #121212;
    }
    .form form {
        display: flex;
        flex-direction: column;
    }
    .form form input {
        width: calc(100% - 17px);
        margin: 0 !important;
    }
    .form form input::placeholder{
        color: #6f6d6d;
    }
    .form form input::placeholder {
        color: #858585;
    }
    .footnote{
        font-size: 10px !important;
        margin-top: 0 !important;
    }
    .form p{
    font-size: 14px;
    margin-bottom: 8px;
    } 
    .form form button {
        margin-bottom: -40px;
    }       
}