.whySec {
    padding: 80px 100px;
    display: block;
    background-color: #121212;
    justify-content: center;
}

.whySec h3 {
    text-align: center;
    color: #fcfcfc;
    font-weight: 500px;
}
.whySec .cards {
    display: flex;
    margin-top: 24px;
    gap: 16px;
    justify-content: center;
}

.whySec .cards .card{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 350px;
    height: 284px;
    background-color: #fcfcfc27;
    border: none;
    border-radius: 16px;
}

.whySec .cards .r, .whySec .cards .l {
    margin-top: 19px;
}

.whySec .cards .card img {
    margin-top: 40px;
}

.whySec .cards .card h4 {
    margin-top: 20px;
    color: #fcfcfc;
    font-weight: 500px;
}

.whySec .cards .card p {
    margin-top: 10px;
    color: #a1a1a1;
}

@media (max-width: 480px) {
    .whySec {
        padding: 40px 16px;
    }
    .whySec .cards {
        display: block;
        margin-top: 40px;
    }
    .whySec .cards .r, .whySec .cards .l {
        margin-top: 0;
    }
    .whySec .cards .card {
        padding: 0 24px;
        margin-bottom: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .whySec .cards .card h4 {
        font-size: 18px;
    }
        .whySec .cards .card p {
            font-size: 14px;
        }
}

@media (min-width: 481px) and (max-width: 720px) {
    .whySec {
        padding: 40px 16px;
    }

    .whySec .cards {
        display: block;
        margin-top: 40px;
    }

    .whySec .cards .r,
    .whySec .cards .l {
        margin-top: 0;
    }

    .whySec .cards .card {
        padding: 0 24px;
        margin-bottom: 8px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .whySec .cards .card h4 {
        font-size: 18px;
    }

    .whySec .cards .card p {
        font-size: 14px;
    }
}