
.faq {
    padding: 0 100px 0;
    justify-content: center;
}
.faq h3{
    text-align: center;
    font-weight: 500px;
    margin-bottom: 20px;
}

.faq .faq-list .faq-question{
    width: 100%;
    border: 1px solid #6f6d6d;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.faq .faq-list .faq-question span {
    font-size: 32px;
    color: #d9d9d9;
}

.faq .faq-list .faq-answer {
    margin: 16px;
    color:#d9d9d9;
    font-weight: 400px;
    font-size: 16px;
}

@media (max-width: 480px) {
    .faq {
        padding: 40px 16px;
    }
    .faq h3 {
        text-align: left;
    }
    .faq .faq-list {
        width: calc(100%-32px);
    }
    .faq .faq-list .faq-question {
        font-size: 16px
    }
    .faq .faq-list .faq-item {
        width: calc(100% - 32px);

    }
}