.movieDetail {
  padding: 40px;
  transition: all transform .3s;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #6d6d6d;
  margin-bottom: 32px;
  cursor: pointer;
}

#backbtn:hover {
  color: #fcfcfc;
}

.movieDetail p {
  color: #6d6d6d;
  font-size: 12px;
  margin-top: 16px;
}

.movieDetail h5 {
  font-weight: 600px;
  font-size: 16px;
  color: #fcfcfc;
  margin: 20px 0;
}

.userRating label {
  font-size: 14px;
  color: #6d6d6d;
}

.comment .userRating label input {
  border: 1px solid #6d6d6d;
  background-color: transparent;
  color: #fcfcfc;
  border-radius: 4px;
  text-align: left;
}

.userRating label input::placeholder {
  color: #6d6d6d;
}

.userRating span {
  color: #6d6d6d;
}

.comments {
  padding: 20px 0;
}

.comments .comment p {
  color: #6d6d6d;
  font-size: 14px;
  margin: auto 0;
}

.comments .comment {
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 8px 16px;
  align-items: center;
}

.comments .comment button {
  background-color: transparent;
  border: none;
  outline: hidden;
  color: rgb(163, 1, 1);
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  margin: auto 0;
}

.comments .commentInput {
  padding: 20px 0;
  align-items: center;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  gap: 16px;
}

.comments .commentInput input {
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  width: 90%;
  margin: 0;
}

.comments .commentInput input::placeholder {
  color: #686868;
}

.comments .commentInput input:focus {
  color: #fcfcfc;
  outline: hidden;
}

.commentInput button {
  padding: 8px 16px;
  background-color: rgb(163, 1, 1);
  color: #fcfcfc;
  font-size: 14px;
  border-radius: 8px ;
  outline: none;
  width: 10%;
  margin: 0;
}

.commentInput button:hover {
  background-color: red;
}

@media (max-width: 480px) {
  .movieDetail {
    padding: 40px 16px;
    margin: 0;
  }
  h5 {
    color: green !important;
    font-weight: bold;
  }
  .userRating {
    margin-bottom: 24px;
  }
  .comments h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .comments .comment p {
    font-size: 14px;
    width: 90%;
  }
  .comments .comment {
    border: none;
    padding: 0;
    margin: 0;
  }
  .comments .comment button {
    font-size: 11px;
  }
  .comments .commentInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 0;
    padding: 0;
  }
  .comments .commentInput input {
    width: calc(100%+20px);
    margin: 20px 0 0;
  }
  .comments .comment button {
    width: 10%;
  }
  .comments .commentInput button{
    width: 100%;    
  }

}